.cabeçalho{
    background-color: rgb(50, 209, 161);
    color: rgb(12, 206, 231);
text-align: center;
padding: 15px;

}
.body{
    font-family: Arial, Helvetica, sans-serif;
margin:0;
padding:0;
}
.img{
    max-width:50%;
height: auto;
}
