.cabeçalho{
    background-color: rgb(50, 209, 161);
    color: rgba(2, 2, 2, 0.932);
text-align: center;
padding: 15px;

}
.body{
    font-family: Arial, Helvetica, sans-serif;
margin:0;
padding:0;
}
.img{
    max: width 30px;%;
height: auto;
}
